* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Arial;
}

body {
  height: 100vh;
  overflow: hidden;
}

div#app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  text-align: center;
}

main {
  background: #333;
}

aside {
  display: flex;
  width: 200px;
  padding: 5px;
  background: #222;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

aside .bt-toggle {
  height: 40px;
  width: 40px;
  background: url(../../assets/svg/icon-menu.svg) center/24px no-repeat;
}
